


#first{
  background-image: url("../assets/backgrounds/landing.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: auto;
  padding-bottom: 20px
}
.logo{
  align-items: center;
  justify-content: center;
  margin: auto;
  display: flex;
}
#word{
  text-align: center;
  text-decoration-color: white;

}
.line1{
  color: white;
}
#breakfast{
  background-image: url("../assets/foodtop/breakfast.jpg");

  text-align: center;
  padding-bottom: 180px;
  height: 210px;
}
#lunch{
  background-image: url("../assets/foodtop/lunch.jpg");

  text-align: center;
  padding-bottom: 180px;
  height: 210px;

}
#dinner{
  background-image: url("../assets/foodtop/dinner.jpg");

  text-align: center;
  padding-bottom: 180px;
  height: 210px;

}
/* #breakfast p{
  text-align: center;
} */
#hh{
  background-color: #F15A29;
  text-align: center;
  padding-bottom: 90px;
  height: 161px;

}
.ha{
  text-align: center;
  background-color: grey;
  padding-bottom: 61px;
  height: 50px;
}
#image{
  margin-left: 170px;
  border: 10px solid transparent;

}
.rea{
  box-shadow: 10px 10px grey;
  border;10px solid transparent;
}
#second{
  background-image: url("../assets/backgrounds/foodsBg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: auto;
  padding-top: 200px;

}

#bb{
  padding-left: 0px;
  padding-top: 10px;

}
#cb{
  padding-left:20px;
  padding-top: 10px;
}
#cp{
  padding-left: 20px;
  padding-top: 9px;

}
#well{
  padding-left: 100px;
}

 /*border-left:6px solid green;
  height: 300px;
  position: absolute;
  left: 50px;

  margin-left: 1px;
 top: 0;*/
 /*content: "";
 position: absolute;
 z-index: -1;
 top: 0;
 bottom: 0;
 left: 70%;
 border-left: 2px dotted ;
 transform: translate(-50%);
}*/
#box{
  box-shadow: 0px 0px 10px;
}

#tomato{
  background-image: url("../assets/backgrounds/subscribe.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: auto;
  padding-top: 200px;
  padding-bottom: 100px;
  align-items: center;
  justify-content: center;
  margin:auto;
  display: flex;
}
#head{
  text-align: center;
  text-decoration-color: white;
  text-align: middle;

}
.daily{
  color: white;
  text-align: middle;
}
#orange{
  background-color: #F15A29;
  padding-top: 180px;
}
#logo2{
  align-items: center;
  justify-content: center;
  margin: auto;
  display: flex;
  position: relative;
  top: 100px;

}
.menu{
  text-align: center;
  text-decoration-color: white;
  color: white;
  position: absolute;
  right: 0px;
  top: 0px;
}
.menu1{
  text-align: center;
  text-decoration-color: white;
  color: white;
}
.menu2{
  align-items: center;
  justify-content: center;
  margin: auto;
  display: flex;
}
.licence{
  color: white;
  text-align: middle;
  text-align: center;
}
.me{
  color: white;
  position: absolute;
  right: 0px;
  top: 0px;
  float:right;
  width: 30%;
}
.clea{
  color: white;
  text-align: center;
  width: -5%;
  position: relative;
  left: 10%;
  top: 10%;
}
.button{
  padding: 6px 14px;
  display: inline-block;
  text-decoration: none;
  border-radius: 3px;
  border-color: grey;
}
.button-primary{
  background: #C0C0C0;
  color: #fff;
  font-size: 18px ;
  padding: 12px 20px;
  width: 50%;
  float: left;

}
.button-primary:hover {
  background: lightslategrey;
}

.button{
  padding: 6px 14px;
  display: inline-block;
  text-decoration: none;
  border-radius: 3px;
  border-color: orange;
}
.button-secondary{
  background: slategrey;
  color: #fff;
  font-size: 18px ;
  padding: 12px 20px;
  width: 30%;
  background-color: #F15A29;
  float:right;

}
.button-secondary:hover {
  background-color: orange;

}
i{
  border: solid orange;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 3px;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.left{
  transform: rotate(140deg);
  -webkit-transform: rotate(140deg);
}
.line5{
  color: #CC6600;
}
.line7{
  color: #CC6600;
}
.shay{
  box-shadow: 0px 0px 10px;
  left: 50%;
  float: right;
}
.bora{
  box-shadow: 0px 0px 10px;
  right: 50%;
  float: left;


}
.break{
  position: absolute;
  top: 50%;
  right: 20px;
  color: white;
}
#rb{
  padding-bottom: 20px;
  height: 50px;
}
.lunch2{
  position: absolute;
  top: 50%;
  right: 20px;
  color: white;
}
.dinner2{
  position: absolute;
  top: 50%;
  right: 20px;
  color: white;
}
.pp{
  color: white;
}
.drinksp{
  text-align: center;
  float: right;
  padding-left: 30%;
}
.ddrink{
  text-align: center;
  float: right;
}
.button-secondary2{
  font-size: 14px 40px;
  padding: 14px 40px;
  border-radius: 2px;
  background-color: white;
  color: black;
  border: 2px solid #F15A29;
}
.button-secondary3{
  font-size: 14px 40px;
  padding: 14px 40px;
  border-radius: 2px;
  background-color: white;
  color: black;
  border: 2px solid #F15A29;
  float: right;
}
.manu{
  color:white;
  font size: 100px;
  position:relative;
  left: 10%;
}
.nav-tabs li a {
  display: inline;
  float:right;

}
.container{
  background-color: white;
  padding-bottom: 2px;
}
.img1{
  float: left;
  position: relative;
  left: 5%;
}
.img2{
  float:left;
  position: relative;
  left: 10%;
}
.img3{
  float: left;
  position: relative;
  left: 20%;
}
